networkx==3.2.1
igraph==0.11.3
cairocffi==1.6.1
fuzzywuzzy==0.18.0
python-Levenshtein=0.23.0
transliterate==1.10.2
pypdf==3.17.3
matplotlib==3.8.2
natasha==1.6.0
numpy==1.24.4
pandas==1.5.3
tqdm==4.66.1
wordcloud==1.9.3
